<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>404</title>
	<link rel="stylesheet" href="./css/404.css">
</head>
<body>
	<div class="error-404">
		<div class="error-content">
			<h1 class="sorry">Sorry!</h1>
			<h2>系统数据正在完善中!</h2>
			<h4>目前只有左侧导航栏“ 流行女装 - 连衣裙 ”数据信息较为完整！如需查看系统功能，请进入左侧导航栏“ 流行女装-连衣裙 ”</h4>
		</div>
	</div>
</body>
</html>