<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品详情</title>
	<link rel="stylesheet" href="css/reset.css" style="text/css">
    <link rel="stylesheet" href="css/common.css" style="text/css">
    <link rel="stylesheet" href="css/details.css" style="text/css">
</head>
<body>
	<div class="details_shop_nav">
		<div class="nav_box clearfix">
			<a href="./home" class="logo fl">购物网<p>gouwu.com</p></a>
			<div class="shop_name fl">
				<p class="shop_title">
					<a href="#" class="title"
					  ><a href="#" class="title_name" id="shop_name">米莱达旗舰店</a>
					<span class="icon_font">品牌直销</span>
					</a>
				</p>
				<p class="shop_descri">
					<span class="desc_split">[</span> 描述 
					<a href="#" class="desc_grade">4.8</a> 
					<span class="desc_split">|</span> 物流 
					<a href="#" class="desc_grade">4.8</a> 
					<span class="desc_split">|</span> 服务 
					<a href="#" class="desc_grade">4.8</a> 
					<span class="desc_split">]</span> 
					<a href="#" class="contact">
						联系卖家
					</a>
				</p>
			</div>
		</div>
	</div>
	<div class="shop clearfix">
		<div class="shopCondi fl clearfix">
			<div class="tb_shop">
				<div class="shop_details">
					<a href="#" class="shop_logo">
						<p class="english_name">MEETLADY</p>
						<div class="chinese_name">
							<div class="line fl"></div>
							<span class="text">米莱达</span>
							<div class="line fr"></div>
						</div>
					</a>
				</div>
				<ul class="shop_details_list clearfix">
					<li class="shop_details_item fl"><a href="#" class="item">首页</a></li>
					<li class="shop_details_item fl"><a href="#" class="item">所有产品</a></li>
					<li class="shop_details_item fl"><a href="#" class="item hot">宋佳同款</a></li>
					<li class="shop_details_item fl">
						<a href="#" class="item hot">人气精选</a>
						<div class="message message1">90元补贴</div>
					</li>
					<li class="shop_details_item fl">
						<a href="#" class="item hot">每周五上新</a>
						<div class="message message2">一周包邮</div>
					</li>
					<li class="shop_details_item fl"><a href="#" class="item">羽绒/棉衣</a></li>
					<li class="shop_details_item fl"><a href="#" class="item">呢大衣</a></li>
					<li class="shop_details_item fl"><a href="#" class="item">外套</a></li>
					<li class="shop_details_item fl"><a href="#" class="item">毛衣</a></li>
					<li class="shop_details_item fl"><a href="#" class="item">衬衫</a></li>
					<li class="shop_details_item fl"><a href="#" class="item">T恤/卫衣</a></li>
					<li class="shop_details_item fl"><a href="#" class="item">连衣裙</a></li>
					<li class="shop_details_item fl"><a href="#" class="item">裤装</a></li>
					<li class="shop_details_item fl"><a href="#" class="item">半身裙</a></li>
				</ul>
				<div class="content clearfix">
					<div class="tb_gallery fl">
						<div class="tb_pics">
							<div class="show_bigger_pic clearfix show">
								<span class="cover"></span>
								<span class="float_span"></span>
								<div class="small_pic_div">
									<a href="" class="tab_booth">
										<img src="images/details/dress1.jpg" class="imgbooth" alt="米莱达">
									</a>
								</div>
								<div class="big_pic_div hide">
									<img src="images/details/dress1.jpg">
								</div>
							</div>
							<div class="show_bigger_pic clearfix hide">
								<span class="cover"></span>
								<span class="float_span"></span>
								<div class="small_pic_div">
									<a href="" class="tab_booth">
										<img src="images/details/dress2.jpg" class="imgbooth" alt="米莱达">
									</a>
								</div>
								<div class="big_pic_div hide">
									<img src="images/details/dress2.jpg">
								</div>
							</div>
							<div class="show_bigger_pic clearfix hide">
								<span class="cover"></span>
								<span class="float_span"></span>
								<div class="small_pic_div">
									<a href="" class="tab_booth">
										<img src="images/details/dress3.jpg" class="imgbooth" alt="米莱达">
									</a>
								</div>
								<div class="big_pic_div hide">
									<img src="images/details/dress3.jpg">
								</div>
							</div>
							<div class="show_bigger_pic clearfix hide">
								<span class="cover"></span>
								<span class="float_span"></span>
								<div class="small_pic_div">
									<a href="" class="tab_booth">
										<img src="images/details/dress4.jpg" class="imgbooth" alt="米莱达">
									</a>
								</div>
								<div class="big_pic_div hide">
									<img src="images/details/dress4.jpg">
								</div>
							</div>
							<div class="show_bigger_pic clearfix hide">
								<span class="cover"></span>
								<span class="float_span"></span>
								<div class="small_pic_div">
									<a href="" class="tab_booth">
										<img src="images/details/dress5.jpg" class="imgbooth" alt="米莱达">
									</a>
								</div>
								<div class="big_pic_div hide">
									<img src="images/details/dress5.jpg">
								</div>
							</div>
						</div>
						<ul class="tb_thumb clearfix">
							<li>
								<a href="#" class="thumb_list">
									<img src="images/details/dress1_small.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="#" class="thumb_list">
									<img src="images/details/dress2_small.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="#" class="thumb_list">
									<img src="images/details/dress3_small.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="#" class="thumb_list">
									<img src="images/details/dress4_small.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="#" class="thumb_list">
									<img src="images/details/dress5_small.jpg" alt="">
								</a>
							</li>
						</ul>
						<div class="collection">
							<a href="#" class="share"><i class="icon_share"></i> 分享</a>
							<a href="#" class="collect"><i class="icon_collect"></i> 收藏商品</a>
							<span class="welcom">（60923人气）</span>
							<a href="#" class="report fr">举报</a>
						</div>
					</div>
					<div class="tb_details fl">
						<h2 class="good_title" id="good_title">米莱达 2017夏装新款女装 时尚高腰背心裙子 纯色无袖连衣裙</h2>
						<p class="good_activ">【专享99】买就补贴50不参店铺满减</p>
						<div class="good_price">
							<div class="coupon clearfix">
								<img src="images/details/tmall_ticket.png" alt="天猫购物券" class="tmll_ticket fl">
								<p class="ticket_text fl">全天猫实物商品通用</p>
								<a href="#" class="scratch_ticket fr">去刮券
									<span href="#" class="ticket_arrow fr">></span>
								</a>
							</div>
							<p class="price">价格
								<span class="originalPrice">
									<i class="tb_rmb">¥ </i>298.00 
								 </span>
							</p>
							<p class="promo_price">促销价
								<span class="originalPrice" id="originalPrice">
									<i class="tb_rmb">¥ </i><span id="price">149.00</span> 
								 </span>
							</p>
						</div>
						<div class="freight">
							<p class="freight_title">
								<span class="freight_txt">运费</span>
								<span class="shop_address">浙江杭州 至 </span>
								<a href="#" class="home_address">郑州<img src="images/details/arrow.gif" class="address_arrow"></a>
								<span> 快递：10.00 EMS：10.00</span>
							</p>
						</div>
						<ul class="good_con clearfix">
							<li class="con_list fl">月销量<span class="Month_sales"> 162</span></li>
							<li class="con_list fl"><a href="#evaluate" class="judge" >累计评价<span class="judge_num"> 5411</span></a></li>
							<li class="con_list fl"><a href="#" class="integr">送天猫积分<span class="integr_num"> 74</span></a></li>
						</ul>
						<dl class="size_box clearfix" id="size_box">
							<dt class="size_txt fl">尺码</dt>
							<dd><a href="javascript:void(0);" class="size_item fl">155/S</a></dd>
							<dd><a href="javascript:void(0);" class="size_item fl">160/M</a></dd>
							<dd><a href="javascript:void(0);" class="size_item fl">165/L</a></dd>
							<dd><a href="javascript:void(0);" class="size_item fl">170/XL</a></dd>
						</dl>
						<dl class="color_box clearfix" id="color_box">
							<dt class="color_txt fl">颜色分类</dt>
							<dd>
								<a href="javascript:void(0);" class="color_item fl">
									<img src="images/details/color_black.jpg" alt="黑色">
								</a>
							</dd>
							<dd>
								<a href="javascript:void(0);" class="color_item fl">
									<img src="images/details/color_yellow.jpg" alt="黄色">
								</a>
							</dd>
						</dl>
						<div class="amount clearfix">
							<span class="num_txt fl">数量</span>
							<div class="buy fl clearfix">
								<input id="buy_num" class="buy_num fl" type="text" value="1">
								<div class="amount_btn fl clearfix">
									<div class="arrow fl">
										<a class="amount_increase" id="increase" href="javascript:void(0);">
											<img src="images/details/toparrow.gif" class="toparrow">
										</a>
										<a class="amount_decrease" id="decrease" href="javascript:void(0);">
											<img src="images/details/bottomarrow.gif"  class="bottomarrow">
										</a>
									</div>
									<span class="fl">件</span>
								</div> 
							</div>
							<span class="stock fl">库存429件</span>
						</div>
						<div class="buyGood">
							<a href="#" class="buyNow" id="buyNow">立即购买</a>
							<a href="javascript:void(0);" class="shopingCart" id="shopingCart">加入购物车</a>
						</div>
					</div>

				</div>
			</div>
			<div class="tabBar clearfix">
				<div class="shop_detail fl">
					<div class="shop_honor"></div>
					<div class="shop_search"></div>
				</div>
				<div class="goods_details fl">
					<ul class="good_details_title clearfix">
						<li class="good_details_item active fl">商品详情</li>
						<li class="good_details_item fl" id="evaluate" name="evaluate">累计评价 <span id="comments_num"> 5411</span></li>
					</ul>
					<div class="good_content">
						<div class="details_info good_details_content">
							<div class="pram_details">
								<p class="brand clearfix">
									<span class="brand_txt fl">品牌名称：</span>
									<a class="brand_name fl" href="https://list.tmall.com/search_product.htm?brand=366576555&spm=a312a.7700718.0.0.3AnZ24&brandId=366576555&type=0&scm=1048.1.1.4" >MEETLADY/米莱达</a>
									<a href="#" class="follow fl clearfix">
										<i class="follow_logo fl"></i>
										<span class="follow_txt fl"> 关注</span>
									</a>
								</p>
								<dl class="produce_param">
									<dt class="produce_param_title">产品参数：</dt>
									<dd class="produce_param_item">材质成分: 聚酯纤维 94.3% 聚氨酯弹性 5.7% 氨纶</dd>
									<dd class="produce_param_item">销售渠道类型: 纯电商(只在线上销售)</dd>
									<dd class="produce_param_item">货号: 6LQ316</dd>
									<dd class="produce_param_item">风格: 通勤</dd>
									<dd class="produce_param_item">通勤: 简约</dd>
									<dd class="produce_param_item">组合形式: 单件</dd>
									<dd class="produce_param_item">裙长: 中长裙</dd>
									<dd class="produce_param_item">袖长: 无袖</dd>
									<dd class="produce_param_item">领型: 圆领</dd>
									<dd class="produce_param_item">腰型: 高腰</dd>
									<dd class="produce_param_item">衣门襟: 拉链</dd>
									<dd class="produce_param_item">图案: 纯色</dd>
									<dd class="produce_param_item">品牌: MEETLADY/米莱达</dd>
									<dd class="produce_param_item">适用年龄: 25-29周岁</dd>
									<dd class="produce_param_item">年份季节: 2016年夏季</dd>
									<dd class="produce_param_item">颜色分类: 黑色 黄色</dd>
									<dd class="produce_param_item">尺码: 155/S 160/M 165/L 170/XL</dd>
								</dl>
							</div>
							<ul class="pic_details">
								<li><img src="images/details/pic_detail1.jpg"></li>
								<li><img src="images/details/pic_detail2.jpg"></li>
								<li><img src="images/details/pic_detail3.jpg"></li>
								<li><img src="images/details/pic_detail4.jpg"></li>
								<li><img src="images/details/pic_detail5.jpg"></li>
								<li><img src="images/details/pic_detail6.jpg"></li>
								<li><img src="images/details/pic_detail7.jpg"></li>
								<li><img src="images/details/pic_detail8.jpg"></li>
								<li><img src="images/details/pic_detail9.jpg"></li>
								<li><img src="images/details/pic_detail10.jpg"></li>
								<li><img src="images/details/pic_detail11.jpg"></li>
								<li><img src="images/details/pic_detail12.jpg"></li>
								<li><img src="images/details/pic_detail13.jpg"></li>
								<li><img src="images/details/pic_detail14.jpg"></li>
								<li><img src="images/details/pic_detail15.jpg"></li>
								<li><img src="images/details/pic_detail16.jpg"></li>
								<li><img src="images/details/pic_detail17.jpg"></li>
							</ul>
						</div>
						
						<div class="details_info comments_content hide">
							<div class="good_fit clearfix">
								<div class="fit_grade fl">
									<span class="fit_txt">与描述相符</span>
									<strong class="fit_num">4.8</strong>
									<p class="fit_star"></p>
								</div>
								<div class="describe fl clearfix">
									<p class="describe_title fl">
										<span class="describe_title_txt">大</span>
										<span class="describe_title_txt">家</span>
										<span class="describe_title_txt">都</span>
										<span class="describe_title_txt">写</span>
										<span class="describe_title_txt">到</span>
									</p>
									<p class="brackets fl"></p>
									<ul class="comments_list fl">
										<li class="comments_item">质量不错<span class="comments_item_num">(57)</span></li>
										<li class="comments_item">穿上好看<span class="comments_item_num">(39)</span></li>
										<li class="comments_item">版型很好<span class="comments_item_num">(32)</span></li>
										<li class="comments_item">色彩很好<span class="comments_item_num">(26)</span></li>
										<li class="comments_item">码子很准<span class="comments_item_num">(23)</span></li>
										<li class="comments_item">衣衣很舒服<span class="comments_item_num">(21)</span></li>
										<li class="comments_item">划算<span class="comments_item_num">(12)</span></li>
										<li class="comments_item">服务不错<span class="comments_item_num">(12)</span></li>
										<li class="comments_item">料子好<span class="comments_item_num">(8)</span></li>
										<li class="comments_item_bad">码数不合<span class="comments_item_num">(8)</span></li>
									</ul>
								</div>
							</div>
							<div class="comments_choose">
								<span class="comments_filter fl">
									<span class="choose_list">
										<input class="choose" id="comments_all" type="radio" name="radiogrounp" checked="checked">
										<label class="choose_txt" for="comments_all">全部</label>
									</span>
									<span class="choose_list">
										<input class="choose" id="comments_append" type="radio" name="radiogrounp">
										<label class="choose_txt" for="comments_append">追评 (239)</label>
									</span>
									<span class="choose_list">
										<input class="choose" id="comments_picture" type="radio" name="radiogrounp">
										<label class="choose_txt" for="comments_picture">图片 (604)</label>
									</span>
									
								</span>
								<span class="tm-toolbar fr">
									<input class="comments_hascontent" id="hascontent" type="checkbox" name="hascontent" checked="checked">
									<label for="hascontent">有内容</label>
									<div class="comments_sort fr">
										<div class="selectbtn" id="selectbtn">
											<span z-index="0" class="tm-current">按默认</span>
											<img class="select_arrow" src="images/details/arrow.gif">
											<ul class="tm_select">                       <li class="tm_r_default">
													<a href="#"> 按默认</a>
												</li>
												<li class="tm_r_time">
													<a href="#">按时间 </a>
												</li>
											</ul>                        
									</div>
								</div>
							</span>
							</div>
							<ul class="good_comments_list">
								<li class="good_comments_item">
									<div class="first_comment clearfix">
										<span class="comment_txt fl">初次评价：</span>
										<p class="comment_content fl">此用户没有填写评论！</p>
										<div class="comment_time ">03.02</div>
									</div>	
									<div class="append_comment clearfix">
										<span class="comment_txt fl">
											收货1天后追加：
										</span>
										<div class="append_comment_content fl">
											<p class="append_comment_txt">一次买了两件小黑裙 本来是想着留一件退一件的 回来试过之后觉得都不错 就都留下来啦 轻薄柔软的面料夏天也不会觉得热</p>
											<div class="comment_pic_list clearfix">
												<img class="comment_item" src="images/details/comment1.jpg">
												<img class="comment_item" src="images/details/comment2.jpg">
												<img class="comment_item" src="images/details/comment3.jpg">
											</div>
										</div>
										<div class="shopper_name fr">紫<span class="riceflower">***</span>s<span class="shoper_anonymous">（匿名）</span>
										</div>
										<div class="col_meta  fr">
											<p>颜色分类：<span class="buy_color"> 黑色</span></p>
											<p>尺码：<span class="buy_size"> 155/S</span></p>
										</div>
									</div>	
								</li>
								<li class="good_comments_item">	
									<div class="append_comment clearfix">
										<div class="append_comment_content fl">
											<p class="append_comment_txt">物流非常速度，上身效果很好，从来没买过亮色的衣服，试一下很喜欢~</p>
											<div class="comment_pic_list clearfix">
												<img class="comment_item" src="images/details/comment4.jpg">
												<img class="comment_item" src="images/details/comment5.jpg">
											</div>
											<div class="comment_time ">03.04</div>
										</div>
										<div class="shopper_name fr">t<span class="riceflower">***</span>1<span class="shoper_anonymous">（匿名）</span>
										</div>
										<div class="col_meta fr">
											<p>颜色分类：<span class="buy_color"> 黄色</span></p>
											<p>尺码：<span class="buy_size"> 165/L</span></p>
										</div>
									</div>	
								</li>
								<li class="good_comments_item">	
									<div class="append_comment clearfix">
										<div class="append_comment_content fl">
											<p class="append_comment_txt">这裙子我从去年夏天就惦记着，直到现在才入手，到了之后试了下，真的很不错啊，滑滑的料子很舒服还有一层内衬，很显身材还遮肚子，哈哈哈，说好的返款也给了，快递速度也给力，唯一不足的就是裙褶上有一点脏，希望是可以洗掉的~</p>
											<div class="comment_time ">02.27</div>
										</div>
										<div class="shopper_name fr">如<span class="riceflower">***</span>音<span class="shoper_anonymous">（匿名）</span>
										</div>
										<div class="col_meta fr">
											<p>颜色分类：<span class="buy_color"> 黑色</span></p>
											<p>尺码：<span class="buy_size"> 165/L</span></p>
										</div>
									</div>	
								</li>
								<li class="good_comments_item">	
									<div class="append_comment clearfix">
										<div class="append_comment_content fl">
											<p class="append_comment_txt">美美哒 ~ 这黄色配着淡淡的海水蓝蓝的天，赚足了回头率~ ~ ~</p>
											<div class="comment_time ">03.04</div>
										</div>
										<div class="shopper_name fr">g<span class="riceflower">***</span>1<span class="shoper_anonymous">（匿名）</span>
										</div>
										<div class="col_meta fr">
											<p>颜色分类：<span class="buy_color"> 黄色</span></p>
											<p>尺码：<span class="buy_size"> 160/M</span></p>
										</div>
									</div>	
								</li>
								<li class="good_comments_item">	
									<div class="append_comment clearfix">
										<div class="append_comment_content fl">
											<p class="append_comment_txt">送给朋友的，她很喜欢，尺码颜色都很符合，下次有需要再来</p>
											<div class="comment_time ">02.28</div>
										</div>
										<div class="shopper_name fr">x<span class="riceflower">***</span>2<span class="shoper_anonymous">（匿名）</span>
										</div>
										<div class="col_meta fr">
											<p>颜色分类：<span class="buy_color"> 黄色</span></p>
											<p>尺码：<span class="buy_size"> 160/M</span></p>
										</div>
									</div>	
								</li>
								<li class="good_comments_item">	
									<div class="append_comment clearfix">
										<div class="append_comment_content fl">
											<p class="append_comment_txt">168，118斤，穿的M号，比较宽松，估计夏天穿的时候效果会更好一些</p>
											<div class="comment_time ">03.01</div>
										</div>
										<div class="shopper_name fr">t<span class="riceflower">***</span>3<span class="shoper_anonymous">（匿名）</span>
										</div>
										<div class="col_meta fr">
											<p>颜色分类：<span class="buy_color"> 黄色</span></p>
											<p>尺码：<span class="buy_size"> 160/M</span></p>
										</div>
									</div>	
								</li>
								<li class="good_comments_item">	
									<div class="append_comment clearfix">
										<div class="append_comment_content fl">
											<p class="append_comment_txt">衣服质量很好，很有垂感，更重要的是客服推荐的码很合适，还送了代言人的彩绘卡片，非常满意(=^▽^=)</p>
											<div class="comment_time ">03.02</div>
										</div>
										<div class="shopper_name fr">烈<span class="riceflower">***</span>0<span class="shoper_anonymous">（匿名）</span>
										</div>
										<div class="col_meta fr">
											<p>颜色分类：<span class="buy_color"> 黑色</span></p>
											<p>尺码：<span class="buy_size"> 160/M</span></p>
										</div>
									</div>	
								</li>
								<li class="good_comments_item">	
									<div class="append_comment clearfix">
										<div class="append_comment_content fl">
											<p class="append_comment_txt">衣服质量很好，穿起来很好看，大爱</p>
											<div class="comment_time ">03.03</div>
										</div>
										<div class="shopper_name fr">芸<span class="riceflower">***</span>0<span class="shoper_anonymous">（匿名）</span>
										</div>
										<div class="col_meta fr">
											<p>颜色分类：<span class="buy_color"> 黄色</span></p>
											<p>尺码：<span class="buy_size"> 160/M</span></p>
										</div>
									</div>	
								</li>
								<li class="good_comments_item">	
									<div class="append_comment clearfix">
										<div class="append_comment_content fl">
											<p class="append_comment_txt">修身效果很好，质量也不错，还会来</p>
											<div class="comment_time ">02.27</div>
										</div>
										<div class="shopper_name fr">支<span class="riceflower">***</span>5<span class="shoper_anonymous">（匿名）</span>
										</div>
										<div class="col_meta fr">
											<p>颜色分类：<span class="buy_color"> 黄色</span></p>
											<p>尺码：<span class="buy_size"> 155/S</span></p>
										</div>
									</div>	
								</li>
								<li class="good_comments_item">	
									<div class="append_comment clearfix">
										<div class="append_comment_content fl">
											<p class="append_comment_txt">有点弹性，还行，没有色差 163,100斤的，穿S码，正合适，做工很不错，衣服料子很好，亲民，板型很好</p>
											<div class="comment_time ">02.20</div>
										</div>
										<div class="shopper_name fr">渐<span class="riceflower">***</span>桃<span class="shoper_anonymous">（匿名）</span>
										</div>
										<div class="col_meta fr">
											<p>颜色分类：<span class="buy_color"> 黄色</span></p>
											<p>尺码：<span class="buy_size"> 155/S</span></p>
										</div>
									</div>	
								</li>
								<li class="good_comments_item">	
									<div class="append_comment clearfix">
										<div class="append_comment_content fl">
											<p class="append_comment_txt">宝贝不错，还送了小礼物</p>
											<div class="comment_pic_list clearfix">
												<img class="comment_item" src="images/details/comment6.jpg">
												<img class="comment_item" src="images/details/comment7.jpg">
											</div>
											<div class="comment_time ">02.24</div>
										</div>
										<div class="shopper_name fr">h<span class="riceflower">***</span>8<span class="shoper_anonymous">（匿名）</span>
										</div>
										<div class="col_meta fr">
											<p>颜色分类：<span class="buy_color"> 黄色</span></p>
											<p>尺码：<span class="buy_size"> 160/M</span></p>
										</div>
									</div>	
								</li>
								<li class="good_comments_item">	
									<div class="append_comment clearfix">
										<div class="append_comment_content fl">
											<p class="append_comment_txt">收到了，质量很好，试穿过很修身，店家的服务态度也很好，这个质量价格还不贵，很难得了，好评(o^^o)，快递也很快，第二天就到了</p>
											<div class="comment_time ">02.28</div>
										</div>
										<div class="shopper_name">耿<span class="riceflower">***</span>4<span class="shoper_anonymous">（匿名）</span>
										</div>
										<div class="col_meta fr">
											<p>颜色分类：<span class="buy_color"> 黄色</span></p>
											<p>尺码：<span class="buy_size"> 155/S</span></p>
										</div>
									</div>	
								</li>
							</ul>
							<ul class="switch_page clearfix">
								<li class="page_prev"><< 上一页</li>
								<li class="page_first">1</li>
								<li><a href="#" class="page_specific">2</a></li>
								<li><a href="#" class="page_specific">3</a></li>
								<li class="page_break">...</li>
								<li><a href="#" class="page_next">下一页>></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<dl class="shopRecom fl">
				<dt class="shopRecom_title">
					<div class="title_line fl"></div>
					<span class="look">看了又看</span>
					<div class="title_line fr"></div>
				</dt>
				<dd class="shopRecom_item">
					<a href="#" class="clothes">
						<img src="images/details/recom1.jpg" title="米莱达 2017夏季新款女装 欧美纯色压皱无袖衬衫连衣裙女背心裙">
					</a>
					<p class="clothes_price">¥129.00</p>
				</dd>
				<dd class="shopRecom_item">
					<a href="#" class="clothes">
						<img src="images/details/recom1.jpg" title="米莱达 2017夏季新款女装 欧美纯色压皱无袖衬衫连衣裙女背心裙">
					</a>
					<p class="clothes_price">¥129.00</p>
				</dd>
				<dd class="shopRecom_item">
					<a href="#" class="clothes">
						<img src="images/details/recom1.jpg" title="米莱达 2017夏季新款女装 欧美纯色压皱无袖衬衫连衣裙女背心裙">
					</a>
					<p class="clothes_price">¥129.00</p>
				</dd>
				<dd class="shopRecom_item">
					<a href="#" class="clothes">
						<img src="images/details/recom1.jpg" title="米莱达 2017夏季新款女装 欧美纯色压皱无袖衬衫连衣裙女背心裙">
					</a>
					<p class="clothes_price">¥129.00</p>
				</dd>
				<dd class="shopRecom_item">
					<a href="#" class="clothes">
						<img src="images/details/recom1.jpg" title="米莱达 2017夏季新款女装 欧美纯色压皱无袖衬衫连衣裙女背心裙">
					</a>
					<p class="clothes_price">¥129.00</p>
				</dd>
			</dl>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/details.js"></script>
</body>
</html>