<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
	<link rel="stylesheet" href="css/reset.css" style="text/css">
    <link rel="stylesheet" href="css/common.css" style="text/css">
    <link rel="stylesheet" href="css/register.css" style="text/css">
</head>
<body>
	<div class="register">
		<%- message %>
		<div class="register_title">
			用户注册
		</div>
		<div ng-app="myApp">
			<form name="register_form" class="register_form" 
			ng-controller='firstController' ng-submit="register(data)">
				<div class="register_username clearfix">
					<label for="username" class="username_txt fl">会员名</label>
					<input type="text" name="username" id="username" class="register_text fl" placeholder="会员名/邮箱/手机号" autocomplete="off" ng-required="true" 
					ng-model="data.username" 
					ng-minlength="1" ng-maxlength="30" 
					ng-focus>
					
					<div ng-show="(register_form.username.$invalid && register_form.username.$dirty && !register_form.username.$focused) || (register_form.username.$invalid && submitted )">
						<div class="test" ng-show=" register_form.username.$error.required">
							用户名不能为空
						</div>
						<div class="test" ng-show=" register_form.username.$error.minlength">
							用户名长度不能小于1位
						</div>
						<div class="test" ng-show=" register_form.username.$error.maxlength">
							用户名长度不能超过32位
						</div>
					</div>
					
				</div>
				
				<div class="register_pwd clearfix">
					<label for="password" class="pwd_txt fl">密码</label>
					<input type="password" name="password" id="password" class="register_text fl" autocomplete="off" 
					ng-required="true" ng-model="data.password" 
					ng-minlength="6" ng-maxlength="20" 
					ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/"
					 ng-focus >
					
					<div ng-show="(register_form.password.$invalid && register_form.password.$dirty && !register_form.password.$focused) || (register_form.password.$invalid && submitted)">
						<div class="test" ng-show=" register_form.password.$error.required">
							密码不能为空
						</div>
						<div class="test" ng-show=" register_form.password.$error.pattern">
						 	密码用数字和字母组合,长度为 6~20
						 </div>
						<div class="test" ng-show=" register_form.password.$error.minlength">
                         	密码最短长度不能少于6位  
						 </div>
						 <div class="test" ng-show=" register_form.password.$error.maxlength">
							 密码长度不能超过20位
						 </div>
					</div>
					
				</div>
				
				<div class="register_pwd clearfix">
					<label for="password" class="pwd_txt fl">确认密码</label>
					<input type="password" name="enter_password" id="enter_password" class="register_text fl" 
					autocomplete="off" ng-required="true" 
					ng-model="data.enter_password" 
					ng-minlength="6" ng-maxlength="20" ng-focus
					pw-check match="data.password" >
					
					<div ng-show="(register_form.enter_password.$invalid && register_form.enter_password.$dirty && register_form.enter_password.$focused) || (register_form.enter_password.$invalid && submitted)">
						<div class="test" ng-show="register_form.enter_password.$error.required">
                    		密码不能为空
                     	</div>
						<div class="test" ng-show="register_form.enter_password.$error.matchError">
                    		两次密码不一致
                     	</div>
					</div>
					
				</div>
				
				<div class="agreement clearfix">
					<input type="checkbox" name="agreement" checked disabled class="agreement_radio fl">
					<p class="fl">我已阅读并同意<a href="#" class="agreement_book">《 用户注册协议 》</a></p>
					
				</div>
				<div class="register_btn">
						<input type="submit" value="注册" class="register_submit" id="register_submit" ng-disabled="register_form.$invalid">
				</div>
			</form>
		</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/register.js"></script>
	<script src="js/angularjs.js"></script>
    <script src="js/form.js"></script>
</body>
</html>