<header>
	<a id="top_active" href="#">
		<img src="images/topActive.jpg" alt="开学季">
	</a>
	<div class="bar">
		<div class="comWidth clearfix">
			<div class="fl">
				<a href="#">网站导航</a>
				<a href="#">商家入驻</a>
			</div>
			<div class="personInfo fr">
				<a class="active" href="../login">登录</a>
				<a href="../register">注册</a>
				<a class="cart" href="#">购物车</a>
				<a href="#">我的订单</a>
			</div>
		</div>
	</div>
	<a id="btn" href="#" title="关闭">X</a>
</header>