<header>
	<a id="top_active" href="#">
		<img src="images/topActive.jpg" alt="开学季">
	</a>
	<div class="bar">
		<div class="comWidth clearfix">
			<div class="fl">
				<a href="#">网站导航</a>
				<a href="#">商家入驻</a>
			</div>
			<div class="personInfo fr">
				<a class="active" href="#">
					<%= username %>
				</a>
				<a href="#">消息</a>
				<a class="cart" href="../cart">购物车</a>
				<a href="../">退出</a>
			</div>
		</div>
	</div>
	<a id="btn" href="#" title="关闭">X</a>
</header>
