<nav>
	<div class="comWidth">
		<!--           搜索-->
		<div class="topBar clearfix">
			<a href="#" class="logo fl">购物网<p>gouwu.com</p></a>
			<div class="search fl">
				<div class="search_box clearfix">
					<input class="search_text fl" id="search" type="text" placeholder="开年第一抢家电疯狂满减" maxlength="50">
					<a class="search_btn fr" href="#">搜 索</a>
				</div>
				<ul class="recom clearfix">
					<li><a href="../404" class="active">5折秒杀</a>
					</li>
					<li><a href="../404">领免息券</a>
					</li>
					<li><a href="../404">400减120</a>
					</li>
					<li><a href="../404">潮流T恤</a>
					</li>
					<li><a href="../404">短裤</a>
					</li>
					<li><a href="../404">半身裙</a>
					</li>
					<li><a href="../404">男士外套</a>
					</li>
				</ul>
			</div>
		</div>
		<!--           导航条-->
		<div class="navBox clearfix">
			<h3 class="shopClass fl">全部商品分类</h3>
			<!--                商品分类-->
			<ul id="shopClass_show">
				<li><a class="title" href="../404">流行女装</a>
					<div class="sub"><a href="../screen">连衣裙</a><a href="../404">T恤</a>
					</div>
				</li>
				<li><a class="title" href="../404">时尚男装</a>
					<div class="sub"><a href="../404">T恤</a><a href="#">圆领T恤</a>
					</div>
				</li>
				<li><a class="title" href="../404">妇幼玩具</a>
					<div class="sub"><a href="../404">儿童套装</a><a href="../404">裙子</a>
					</div>
				</li>
				<li><a class="title" href="#">数位周边</a>
					<div class="sub"><a href="../404">手机保护壳</a>
					</div>
				</li>
				<li><a class="title" href="../404">居家生活</a>
					<div class="sub"><a href="../404">随手杯</a><a href="#">四件套</a>
					</div>
				</li>
				<li><a class="title" href="../404">鞋类箱包</a>
					<div class="sub"><a href="../404">帆布包</a><a href="../404">女包</a>
					</div>
				</li>
				<li><a class="title" href="../404">手表配饰</a>
					<div class="sub"><a href="../404">饰品DIY</a><a href="../404">发饰</a>
					</div>
				</li>
				<li><a class="title" href="../404">家电家装</a>
					<div class="sub"><a href="../404">吸顶灯</a>
					</div>
				</li>
				<li><a class="title" href="../404">流行数码</a>
					<div class="sub"><a href="../404">手机</a><a href="../404">游戏手柄</a>
					</div>
				</li>
				<li><a class="title" href="../404">休闲玩乐</a>
					<div class="sub"><a href="../404">高达模型</a><a href="../404">手办</a>
					</div>
				</li>
				<li><a class="title" href="../404">户外运动</a>
					<div class="sub"><a href="../404">比基尼</a>
					</div>
				</li>
				<li><a class="title" href="../404">美妆保健</a>
					<div class="sub"><a href="../404">化妆工具</a>
					</div>
				</li>
			</ul>
			<!--                商品列表-->
			<ul>
				<div class="shopClass_list clearfix hide">
					<div class="shopClass_item">
						<p class="shopClass_item_title">上衣</p>
						<div class="item_list">
							<a href="../404">T恤</a>
							<a href="../404">棉T恤</a>
							<a href="../404">衬衫</a>
							<a href="../404">宽松T恤</a>
							<a href="../404">雪纺衫</a>
							<a href="../404">修身T恤</a>
							<a href="../404">小背心</a>
							<a href="../404">大码女装</a>
							<a href="../404">短外套</a>
							<a href="../404">针织衫</a>
							<a href="../404">直筒T恤</a>
							<a href="../404">短袖衬衫</a>
							<a href="../404">POLO领衬衫</a>
							<a href="../404">针织开衫</a>
							<a href="../404">休闲套装</a>
						</div>
					</div>
					<div class="shopClass_item">
						<p class="shopClass_item_title">裙子</p>
						<div class="item_list">
							<a href="../screen">连衣裙</a>
							<a href="../404">无袖连衣裙</a>
							<a href="../404">A型连衣裙</a>
							<a href="../404">半身裙</a>
							<a href="../404">高腰连衣裙</a>
							<a href="../404">H型连衣裙</a>
							<a href="../404">礼服/旗袍</a>
							<a href="../404">大摆连衣裙</a>
							<a href="../404">雪纺连衣裙</a>
							<a href="../404">花色连衣裙</a>
							<a href="../404">包臀裙</a>
							<a href="../404">吊带连衣裙</a>
						</div>
					</div>
					<div class="shopClass_item">
						<p class="shopClass_item_title">裤子</p>
						<div class="item_list">
							<a href="../404">休闲裤</a>
							<a href="../404">牛仔裤</a>
							<a href="../404">阔腿裤</a>
							<a href="../404">短裤</a>
							<a href="../404">九分裤</a>
							<a href="../404">牛仔短裤</a>
							<a href="../404">打底裤</a>
							<a href="../404">直筒休闲裤</a>
							<a href="../404">九分牛仔裤</a>
							<a href="../404">九分休闲裤</a>
							<a href="../404">七分裤</a>
							<a href="../404">七分休闲裤</a>
							<a href="../404">牛仔长裤</a>
							<a href="../404">哈伦裤</a>
							<a href="../404">铅笔裤</a>
						</div>
					</div>
					<div class="shopClass_item">
						<p class="shopClass_item_title">女士内衣</p>
						<div class="item_list">
							<a href="../404">文胸</a>
							<a href="../404">内裤</a>
							<a href="../404">棉内裤</a>
							<a href="../404">莫代尔内裤</a>
							<a href="../404">情侣内裤</a>
							<a href="../404">一次性内裤</a>
							<a href="../404">纯色文胸</a>
							<a href="../404">聚拢文胸</a>
							<a href="../404">调整型文胸</a>
							<a href="../404">无钢圈文胸</a>
							<a href="../404">深V性感</a>
							<a href="../404">三角裤</a>
							<a href="../404">塑身内衣</a>
							<a href="../404">女平角裤</a> 
						</div>
					</div>
				</div>
			</ul>
			
			<ul class="nav_list fl clearfix">
				<li><a href="../404">天猫</a>
				</li>
				<li><a href="../404">聚划算</a>
				</li>
				<li><a href="../404">天猫超市</a>
				</li>
				<li><a href="../404">淘抢购</a>
				</li>
				<li><a href="../404">电器城</a>
				</li>
				<li><a href="../404">司法拍卖</a>
				</li>
				<li><a href="../404">中国制造</a>
				</li>
				<li><a href="../404">特色中国</a>
				</li>
			</ul>
		</div>
	</div>
</nav>