<div class="login_box">
	<div class="login_top">
		<img class="user fl" src="images/user.jpg" alt="user">
		<p class="user_text fr">hi，你好</p>
	</div>

	<div class="login_bottom clearfix">
		<a href="./login" class="login_btn fl">登录</a>
		<a href="./register" class="register_btn fl">免费注册</a>

	</div>
</div>