<div class="user_box">
	<div class="user_top">
		<img class="user fl" src="images/user.jpg" alt="user">
		<p class="user_text fr">hi，<%= user.name %></p>
	</div>
	<ul class="user_bottom clearfix">
		<li>
			<a href="../cart" class="user_detail_item fl">3<p>购物车</p></a>
		</li>
		<li>
			<a href="../404" class="user_detail_item fl">2<p>待付款</p></a>
		</li>
		<li>
			<a href="../404" class="user_detail_item fl">0<p>待收货</p></a>
		</li>
		<li>
			<a href="../404" class="user_detail_item fl">3<p>待评价</p></a>
		</li>
	</ul>
</div>